/* Mobile */
@media(max-width: 680px) {
    header {
        height: 8rem;
        position: relative;
    }

    header h1 {
        font-size: 1.4rem;
        position: absolute;
        top: 25px;
        left: 35px;
    }

    #search-container {
        width: 300px;
        position: absolute;
        bottom: 10px;
        margin: 1rem auto;
        flex-direction: row-reverse;
    }

    #search-container input {
        width: 50%;
        font-size: 13px;
    }

    #exports-notes {
        position: absolute;
        top: 25px;
        right: 35px;
        font-size: 10px;
    }

    #add-node-container {
        width: 90%;
    }

    #notes-container {
        display: flex;
        justify-content: center;
    }
}